.blogs-container {

    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.blogs-wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-md);
}


/* ================= BLOG CARD ================= */

.blog-card {

    display: flex;
    flex-direction: column;

    background: var(--color-white);
    border-radius: var(--radius-sm);

    overflow: hidden;

    font-family: sans-serif;

    box-shadow: 0 3px 7px -1px var(--color-shadow);
    text-decoration: none;
    color: inherit;
}


/* links inside card */

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: var(--color-primary);
}


/* hover image animation */

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .photo {
    width: 100%;
    text-align: center;
    padding: var(--space-sm) var(--space-sm) 0 var(--space-sm);
}

.blog-card .photo img {
    width: 100%;
    aspect-ratio: 1/0.5;
}


/* ================= META IMAGE ================= */

.blog-card .photo {
    transition: transform var(--transition-fast);
}

.date {
    font-size: .9rem;
}


.blog-card .description .date::before {

    font-family: FontAwesome;

    content: "\f133";

    margin-right: 10px;
}

/* ================= DESCRIPTION ================= */

.blog-card .description {

    padding: var(--space-md);

    background: var(--color-white);

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    align-items: start;
    justify-content: center;
}


/* titles */

.blog-card .description h3,
.blog-card .description h2 {

    font-family: Poppins, sans-serif;
}


.blog-card .description h2 {

    line-height: 1;

    margin: 0;

    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
}


.blog-card .description h3 {

    font-size: clamp(0.9rem, 1vw, 1rem);

    font-weight: 300;

    text-transform: uppercase;

    color: var(--color-grey-dark);
}


/* read more */

.blog-card .read-more {
    align-self: flex-end;

    color: var(--color-primary);

    position: relative;

    display: block;
}


.blog-card .read-more::before {

    content: "\f061";

    font-family: FontAwesome;

    margin-right: -10px;

    opacity: 0;

    transition: margin var(--transition-medium),
        opacity var(--transition-medium);
}


.blog-card .read-more:hover::before {

    margin-left: var(--space-xs);

    opacity: 1;
}


/* ================= PARAGRAPH DECORATION ================= */


.description h3 {
    position: relative;
}


.blog-card .description h3::before {

    content: "";

    position: absolute;

    top: 100%;
    transform: translateY(5px);

    height: 5px;

    width: 35px;

    background: var(--color-primary);

    border-radius: 3px;
}


/* ================= RESPONSIVE ================= */


@media (max-width: 1024px) {
    .blogs-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .blogs-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px) {
    .blogs-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}